.square-wind{
  position: relative;
  width: 75px;
  height: 75px;
  overflow: visible;
  .wind{
    position: absolute;
    @include box;
    display: block;
    background-color: rgba(random()*255, random()*255, random()*255, 1);
    //animation: rotating 2s infinite linear;

  }
  @for $i from 1 through 10 {
    @if $i<4 and $i>0 {
      .wind:nth-child(#{$i}) {
        left: 25px * ($i - 1);
        top: 0;
      }

    } @else if $i>3 and $i<7 {
      .wind:nth-child(#{$i}) {
        left: 25px * ($i - 4 );
        top: 25px;
      }
    } @else {
      .wind:nth-child(#{$i}) {
        left: 25px * ($i - 7);
        top: 50px;
      }
    }

    .wind:nth-child(#{$i}) {
      animation: #{nth($splitLength, $i)}-wind 2s  infinite linear;
    }
    @keyframes #{nth($splitLength, $i)}-wind {
      0%{
        opacity: 1;
      }
      40%{
        opacity: .5 + $i/50;
      }
      50%{
        opacity: .3 + $i/50;
      }
      60%{
        opacity: 0;
      }
      70%{
        opacity: .3 + $i/50;
      }
      80%{
        opacity: .5 + $i/50;
      }
      90%{
        opacity: .7 + $i/50;
      }
      100%{
        opacity: 1;
      }



    }



  }
}