$wait: 2;

.square-move {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: visible;

  .move {
    position: absolute;
    @include box;
    display: block;
    background-color: $boxColor;
    border-radius: 3px;
  }
  @for $i from 1 through 3 {
    @if $i<2 or $i = 2 {
      .move:nth-child(#{$i}) {
        left: 25px * ($i - 1);
        top: 0;
      }
    }

    @if $i>2 {
      .move:nth-child(#{$i}) {
        left: 25px * ($i - 3);
        top: 25px;
      }
    }

    @if $i==1 {
      .move:nth-child(#{$i}) {
        animation: #{nth($splitLength, $i)}-move #{$wait}s infinite linear;
        @keyframes  #{nth($splitLength, $i)}-move {
          0% {
            left: 25px * ($i - 1);
            top: 0;
          }
          8% {
            left: 25px * ($i - 1);
            top: 0;
          }
          16% {
            left: 25px * ($i - 1)+ 25px;
            top: 0;
          }
          24% {
            left: 25px * ($i - 1)+ 25px;
            top: 0;
          }





          32%{
            left: 25px * ($i - 1)+ 25px;
            top: 0;
          }

          40%{
            left: 25px * ($i - 1)+ 25px;
            top: 25px;
          }
          48%{
            left: 25px * ($i - 1)+ 25px;
            top: 25px;
          }



          56%{
            left: 25px * ($i - 1)+25px;
            top: 25px;
          }

          64%{
            left: 25px * ($i - 1);
            top: 25px;
          }
          72%{
            left: 25px * ($i - 1);
            top: 25px;
          }





          80%{
            left: 25px * ($i - 1);
            top: 25px;
          }

          88%{
            left: 25px * ($i - 1);
            top: 0;
          }

          100%{
            left: 25px * ($i - 1);
            top: 0;
          }

        }
      }
    }

    @if $i==2 {
      .move:nth-child(#{$i}) {
        animation: #{nth($splitLength, $i)}-move #{$wait}s infinite linear;
        @keyframes  #{nth($splitLength, $i)}-move {
          0% {
            left: 25px * ($i - 1);
            top: 0;
          }
         8% {
            left: 25px * ($i - 1);
            top: 25px;
          }
          16% {
            left: 25px * ($i - 1);
            top: 25px;
          }
          24% {
            left: 25px * ($i - 1);
            top: 25px;
          }




          32%{
            left: 25px * ($i - 1)-25px;
            top: 25px;
          }
          40%{
            left: 25px * ($i - 1)-25px;
            top: 25px;
          }
          48%{
            left: 25px * ($i - 1)-25px;
            top: 25px;
          }



          56%{
            left: 25px * ($i - 1)-25px;
            top: 0;
          }

          64%{
            left: 25px * ($i - 1)-25px;
            top: 0;
          }
          72%{
            left: 25px * ($i - 1)-25px;
            top: 0;
          }






          80%{
            left: 25px * ($i - 1);
            top: 0;
          }

          88%{
            left: 25px * ($i - 1);
            top: 0;
          }

          100%{
            left: 25px * ($i - 1);
            top: 0;
          }





        }
      }
    }

    @if $i==3 {
      .move:nth-child(#{$i}) {
        animation: #{nth($splitLength, $i)}-move #{$wait}s infinite linear;
        @keyframes  #{nth($splitLength, $i)}-move {
          0% {
            left: 25px * ($i - 3);
            top: 25px;
          }
          8% {
            left: 25px * ($i - 3);
            top: 25px;
          }
          16% {
            left: 25px * ($i - 3);
            top: 25px;
          }
          24% {
            left: 25px * ($i - 3);
            top: 0;
          }





          32%{
            left: 25px * ($i - 3);
            top: 0;
          }
          40%{
            left: 25px * ($i - 3);
            top: 0;
          }
          48%{
            left: 25px * ($i - 3)+25px;
            top: 0;
          }








          56%{
            left: 25px * ($i - 3)+25px;
            top: 0;
          }

          64%{
            left: 25px * ($i - 3)+25px;
            top: 0;
          }
          72%{
            left: 25px * ($i - 3)+25px;
            top: 25px;
          }






          80%{
            left: 25px * ($i - 3)+25px;
            top: 25px;
          }

          88%{
            left: 25px * ($i - 3)+25px;
            top: 25px;
          }

          100%{
            left: 25px * ($i - 3);
            top: 25px;
          }

        }
      }
    }

  }
}